# vagrant ignores
vagrant/**/.vagrant
vagrant/**/files/*.key
vagrant/**/*.log

# ansible ignores
ansible/*.cfg

# vim ignores
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]
Session.vim
.netrwhist
